body {
  font-family: 'Open Sans', sans-serif;
}

.bio {
  font-size: 2em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  max-width: 600px;
}

.languages {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.tiles {
  font-size: 1.5em;
  text-align: center;
}

.about-text, .about {
  width: 600px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.about {
  font-weight: bold;
}

.profile-image {
  height: 50vh;
  border-radius: 50%;
  float: right;
}

.header, .about-section, .projects {
  margin-top: 120px;
  margin-bottom: 120px;
}

.parent {
    display: flex;
    align-items: center;
}

.parent > div {
  flex: 1;
}

.about-container {
  text-align: center;
}
